extends layout

block content
  h1= title
  p Welcome to #{title}
  p
      | 
      a(href="/helloworld") hello world
      | 
  p
      | 
      a(href="/newuser") add a new user
      | 
  p
      | 
      a(href="/userlist") see all users
      | 
